[submodule "littlefs1"]
	path = littlefs1/littlefs
	url = https://github.com/ARMmbed/littlefs.git
	branch = v1-prefix
[submodule "littlefs2"]
	path = littlefs2/littlefs
	url = https://github.com/ARMmbed/littlefs.git
	branch = v2-prefix
